.ol-overlaycontainer-stopevent {
    margin-left: 30% !important;
    position: absolute !important;
}

._contentCardList::-webkit-scrollbar {
    width: 5px;
    
}
._contentCardList::-webkit-scrollbar-thumb{
    background-color: #555758;
    border-radius: 5px;
}
