.ol-overlaycontainer-stopevent {
  margin-left: 21% !important;
  position: absolute !important;
}

._contentCardList::-webkit-scrollbar,
._containerCardEvntList::-webkit-scrollbar {
  width: 3px;
}
._contentCardList::-webkit-scrollbar-thumb,
._containerCardEvntList::-webkit-scrollbar-thumb {
  background-color: #555758;
  border-radius: 5px;
}

.ol-control {
  /* margin-left: 20.7%;
    margin-top: 0.1%;
    padding: 0px !important; */
  border: 1px solid #fff;
}

.ol-control button {
  display: block;
  margin: 0px !important;
  padding: 0;
  color: #fff !important;
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center !important;
  height: 28px !important;
  width: 35px !important;
  line-height: 0.4em;
  background-color: #212527 !important;
  border: 1px solid #fff !important;
  border-radius: 0px !important;
  align-items: center !important;
}

.custom-icon-button {
  display: flex !important;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.ol-control button {
  font-size: 18px !important;
}

.ol-control button:hover,
.ol-control button:focus {
  /* filter: invert(1); */
  background: white !important;
  color: #000 !important;
  font-size: 18px !important;
}
.ol-control button:hover > img,
.ol-control button:focus > img {
  filter: invert(1) !important;
  /* background: white !important; */
}

/**/
/* 네비게이션 점 색상 변경 */

.fp-right>ul>li>a>span {
  
  background-color: #ffffff !important; /* 점의 기본 색상 */
}
