

._chartTrafficeByMovement .apexcharts-legend-marker {
    margin-right: 4px;
  }
  ._chartTrafficeByMovement .apexcharts-legend-group  {
    display: flex;
    flex-direction: row;
}

._chartTrafficeByMovement  .apexcharts-legend-text {
    font-size: 11px !important;
}