.tabulator-modify-db  .tabulator-header {
	background: transparent;
	border-bottom: 2px solid #fff !important;
	height: 30px;
    color: #fff !important;
}
.tabulator-modify-db .tabulator-tableholder {
    border: none !important;
}


.tabulator-modify-db .tabulator-header .tabulator-col {
    color: #F0F0F0;
}

.tabulator-modify-db .tabulator-row .tabulator-cell {
    color: #F0F0F0;
    font-weight: 400;
    padding: 6px 10px ;
    border-bottom: 1px solid #4E5C84 !important;
}


/* hide icon zoom  */
._maps_accessRoad .ol-overlaycontainer-stopevent  {
    display: none !important;
}