/* sectionn navbar */

  
  /* input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
  } */
  
  /* Required Asterisk */
  .required label:after {
    color: #e32;
    content: " *";
    display: inline;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 15.469%;
    background: var(--neutral-50);
    /* height: 100%; */
    float: left;
    top: 0px;
    overflow: hidden;
    position: sticky;
    z-index: 1000;
    height: 100vh;
    border-right: 1px solid #C5C6C9;
    /* color: var(--bg-menu-active); */
    color: var(--font-color);
    padding-top: 20px;
    
  }
  
  .spacesProfile {
    display: flex;
    gap: 10px;
  }
  
  .box-title-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .box-selection {
    display: flex;
    justify-content: center;
    padding: 0 10px;
  }
  
  .box-selection > img {
    width: 100%;
    max-width: fit-content;
  }
  
  /* .box-selection img {
      width: 100%;
  } */
  
  .box-logout {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 10px;
    margin: 0 20px;
  }
  
  .logout {
    display: flex;
  }
  
  .title-logout {
    padding: 0 0 0 10px;
  }
  
  .title-languange-logout {
    align-items: center;
    display: flex;
    margin-left: auto;
    gap: 8px;
  }
  
  .languange {
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
    padding: 2px 5px;
    background: var(--bg-normal-btn);
    color: var(--col-normal-btn);
  }
  
  .title-languange-logout img {
    cursor: pointer;
  }
  
  .box-time {
    padding: 0 10px;
  }
  
  .box-content-time {
    text-align: center;
    font-size: 1rem;
    padding: 20px 0;
    background-color: var(--bg-time);
    color: var(--col-time);
  }
  
  .title-timer {
    font-weight: 700;
    font-size: 2rem;
    /* padding-left: 10px; */
  }
  
  /* section box toggle dropdown */
  .box-selection-toggle {
    height: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  
  .box-selection-toggle::-webkit-scrollbar {
    width: 3px;
  }
  
  .box-selection-toggle::-webkit-scrollbar-thumb {
    width: 4px;
    background: var(--bg-header-tabulator);
    border-radius: 20px;
  }
  
  .box-toggle-dropdown,
  a {
    /* padding: 15px 15px 0 15px; */
    /* color: var(--bg-menu-active) !important; */
  }
  
  .box-toggle-dropdown:has(a.active) span,
  .box-toggle-dropdown:hover span {
    font-weight: 600;
  }
  
  .user-profile,
  .name-img-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    margin: 10px 0;
  }
  
  .name-user {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
  }
  
  .img-user {
    cursor: pointer;
  }
  
  .name-user span {
    font-weight: 500;
    font-size: 14px;
    color: var(--black-500);
  }
  
  .name-user p {
    font-weight: 400;
    font-size: 12px;
    color: #757779;
    margin: 0; 
  }
  
  .title-system-management {
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 12px 10px;
    gap: 10px;
    text-transform: uppercase;
  }
  
  /* .title-system-management img{
      filter: var(--icon-color);
  } */
  
  .title-system-management:hover,
  .title-system-management.active:hover {
    background-color: #9CC8DC;
    border-radius: 4px;
    padding: 12px 10px;
  }
  
  .menu-dropdown {
    margin-left: auto;
    filter: var(--blue-filter);
  }
  
  .title-system-management.active .menu-dropdown {
    transform: rotate(-180deg);
  }
  
  .title-system-management.active + .content-system-management {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .menu-icon.active {
    display: none;
    background-color: transparent;
  }
  
  .title-system-management.active .menu-icon.active {
    display: flex;
  }
  
  .title-system-management.active .menu-icon.default {
    display: none;
  }
  
  .nav-item {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    color: #135a78;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 10px;
    border-radius: 4px;
  }
  
  .active {
    border-radius: 4px;
    background-color: var(--btn-dfilter);
  }
  
  .active > * {
    color: var(--active-white-font) !important;
  }
  
  .nav-link:hover {
    background-color: var(--bg-header-tabulator);
  }
  
  .pcoded-micon {
    display: flex;
  }
  
  .position-button {
    width: 100%;
  }
  
  .content-system-management {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display: none;
  }
  
  .content-system-management a {
    padding-left: 10px;
  }
  
  .content-system-management a:hover li {
    font-weight: 700;
  }
  
  .nav-link:not(.active) .pcoded-mtext,
  .list-system-management,
  .title-system-management:not(.active) {
    /* color: var(--col-menu); */
    /* color: var(--font-color); */
  }
  
  .title-system-management.active {
    background-color: white;
    font-weight: 700;
  }
  
  .list-system-management {
    font-size: 16px;
    line-height: 2.5;
    font-weight: normal;
    list-style: none;
  }
  .content-system-management .link {
    color: var(--font-color);
    text-decoration: none;
  }
  
  /* .list-system-management:hover {
      font-weight: bold;
  } */
  
  .active .list-system-management {
    /* background-color: #9CC8DC;
      border-radius: 8px; */
    font-weight: bold;
  }
  
  .content-operational-management {
    padding: 5px 0 0 10px;
    display: none;
  }
  
  .box-img-logo-big {
    justify-content: center;
    display: flex;
    margin-top: 90px;
  }
  
  .header-title h3 {
    font-weight: 700;
    font-size: 32px;
    /* padding-bottom: 30px; */
  }
  
  .filtering_container,
  .searching_container,
  .table-container,
  .detail-panel {
    border-radius: var(--border-radius);
    box-shadow: var(--beomho-box-shadow);
  }
  
  .box-bottom {
    display: flex;
    margin-top: auto;
  }
  
  .user-help {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex: 1;
    padding: 9px 12px;
    border-radius: 3px;
    font-weight: 700;
    gap: 10px;
  }
  
  .user-help:hover {
    background-color: var(--neutral-100);
  }
  
  .user-help:active {
    background-color: var(--neutral-200);
  }
  
  /* section right content */
  #article-content-right {
    width: 84.5%;
    padding: 40px;
    height: 100%;
    float: left;
    overflow-x: hidden;
    /* overflow-y: scroll; */
  }
  
  .ck .ck-powered-by {
    display: none;
  }
  

  
  ._contentTab span,
  ._contentTab p {
    color: var(--color-tab);
    margin: 0;
  }
  
  ._tabModalProfile:hover {
    /* background-color: #5b6570; */
  }
  
  #tab nav {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  
  #tab nav .active {
  }
  
  .tab-content {
    display: none;
    padding-top: 20px;
  }
  
  ._tabForm {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  ._titleForm {
    color: var(--color-tab);
    font-size: 20px;
    font-weight: 700;
  }
  
  .tab-content.active {
    display: flex;
    background-color: transparent;
  }
  
  /* table user profile */
  
  table._tableProfile,
  table._tablePassword {
    width: 100%;
  }
  
  table._tableProfile tbody,
  table._tablePassword tbody {
    width: 100%;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  table._tableProfile tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  table._tableProfile tbody tr td,
  table._tablePassword tbody tr td {
    width: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  table._tableProfile tbody tr td p,
  table._tablePassword tbody tr td p {
    font-size: 16px;
    font-weight: 400;
  }
  table._tableProfile tbody tr td ,
  table._tablePassword tbody tr td  {
    width: 100%;
    color: #878d96;
    font-weight: 400;
  }
  
  ._tabBtnGroup {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
  }
  
  /* table user profile */
  table._tablePassword tbody tr {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    position: relative;
  }
  /* table reset password */
  
  .toggle-password {
    position: absolute;
    right: 20px;
    top: 42px;
    font-size: 20px;
    color: #6b7280;
  }
  /* tab  */
  
  .filtering {
    /* min-width: 103px !important; */
  }
  
  @media only screen and (min-width: 1370px) and (max-width: 1605px) {
    .navbar {
      min-height: 100vh;
      height: auto;
      width: 17vw;
    }
  
    .box-toggle-dropdown {
      padding: 5px 15px 5px 0;
    }
  
    .box-selection-toggle {
      min-height: 32vh;
    }
  
    .list-system-management {
      /* line-height: 1.36; */
      font-weight: normal;
    }
  
    .box-system-management {
      padding-bottom: 0px;
      
    }
  
    .box-img-logo-big {
      justify-content: center;
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1369px) {
    .navbar {
      width: 25vw;
    }
  
    .box-selection-toggle {
      height: 56vh;
    }
    .during_container {
      width: 100%;
    }
    .during_container > button {
      flex: 1;
    }
     .modal-box {
      width: 70%;
    }
  }
  