._chartTrafficeByDirectioncompo .apexcharts-legend-group  {
    display: flex;
    flex-direction: row;
}
._chartTrafficeByDirectioncompo .apexcharts-legend-marker  {
   margin-right: 4px;
}

._chartTrafficeByDirectioncompo .apexcharts-tooltip .apexcharts-theme-light{
    position: absolute !important;
    z-index: 100000 !important; 
    display: block !important;  
}
